@font-face {
  font-family: 'interRegular';
  src: url('../fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: 'interMedium';
  src: url('../fonts/Inter-Medium.ttf');
}
@font-face {
  font-family: 'interBold';
  src: url('../fonts/Inter-SemiBold.ttf');
}
$yellow: #f2be54;
$yellowHover: #ffad09;
$grey: #cdd4ca;
$lightblue: #87aeb4;
$darkblue: #153e5c;
$darkblueHOver: #395f7a;
$black: #191a1d;
$blackLight: #2f3031;

*{
  margin: 0;
  padding: 0;
  font-family: 'interRegular';
}

.welcome_home__view{
  background: url('../images/daniel-leone-g30P1zcOzXo-unsplash .jpg') no-repeat;
  height: 100vh;
  background-position: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .navbar_menu_container{
    width: 100%;
    display: flex;
    height: auto;
    background: transparent;
    transition: 300ms;
    padding: 20px 0;
    // .navbar{
    // }
    .navbar-brand{
      font-family: 'interBold';
      font-size: 25px;
      color: $grey;
    }
    .navbar-nav{
      a{
        padding: 0px 15px;
        color: #ffffff;
        font-family: 'interMedium';
        transition: 300ms;
        &:hover{
          color: $yellow; 
          transition: 300ms;
        }
      }
      .active{
        color: $yellow;
      }
    }
  }
  .sticky {
    position: fixed;
    top: 0;
    background: #ffffff !important;
    transition: 300ms;
    z-index: 1000;
    width: 100%;
  }
  
  .sticky + .welcome_message_container {
    padding-top: 100px;
  }
  .welcome_message_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // text-align: center;
    // justify-content: center;
    height: 80%;
    .my_eff{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .latest_offer{
      width: 40%;
      display: flex;
      // background: rebeccapurple;
      justify-content: center;
      align-items: flex-start;
      padding: 36px 20px;
      .offer_card{
        width: 60%;
        height: 350px;
        background: rgba(255, 255, 255, 0.062745098);
        backdrop-filter: blur(8px);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        .card_header{
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-basis: 50%;
          flex-direction: column;
          flex-wrap: wrap;
          h2{
            padding-top: 10px;
            font-size: 40px;
            color: #ffffff;
            font-family: 'interBold';
          }
          p{
            font-family: 'interBold';
            color: #ffffff;
            font-size: 16px;
          }
        }
        .card_body{
          width: 100%;
          flex-basis: 50%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          p{
            color: $blackLight;
            font-family: 'interBold';
            span{
              font-family: 'interBold';
            }
          }
          a{
            cursor: pointer;
            font-size: 14px;
            font-family: 'interMedium';
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            background: $yellow;
            padding: 6px 35px;
            border-radius: 4px;
            transition: 300ms;
            &:hover{
              background: $yellowHover;
              transition: 300ms;
            }
          }
        }
      }
    }
    .welcome_messsage{
      width: 60%;
      padding-top: 36px;
      h1{
        padding-bottom: 65px;
        font-size: 85px;
        text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-family: 'interBold';
        color: #ffffff;
      }
      a{
        cursor: pointer;
        font-size: 14px;
        font-family: 'interMedium';
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background: $darkblue;
        padding: 10px 25px;
        border-radius: 4px;
        transition: 300ms;
        &:hover{
          background: $darkblueHOver;
          transition: 300ms;
        }
      }
    }
  }
}
.offers__view{
  background: $darkblueHOver;
  // padding: 20px 0;
  width: 100%;
  display: flex;
  max-height: 800px;
  .carousel{
    width: 100%;
    height: 100%;
    .carousel-item{
      width: 100%;
      height: 800px;
      min-height: 800px;
      max-height: 800px;
      img{
        width: 100%;
        height: 100%;

      }
      .carousel-caption{
        background: rgba(255, 255, 255, 0.062745098);
        backdrop-filter: blur(12px);
        padding-bottom: 35px;
        h1{
          text-transform: capitalize;
        }
        p{
          font-size: 16px;
        }
        .price{
          color: $yellow;
        }
        .book_btn{
          min-width: 200px;
          padding: 6px 65px;
          background: $yellow;
          margin: 0;
          text-decoration: none;
          cursor: pointer;
          color: $darkblue;
          border-radius: 4px;
          transition: 300ms;
          &:hover{
            background: $yellowHover;
            transition: 300ms;
          }
        }
      }
    }
  }
  .carousel-control-prev, .carousel-control-next{
    background: rgba(255, 255, 255, 0.3);
  }
}